# Ignore folders
/Report/*
!/Report/main.tex
!/Report/*.bib
!/Report/*.png

/References/
/ppt/*
!/ppt/presentation.pdf
!/ppt/*.tex
!/ppt/*.bib
!/ppt/*.png



# Ignore docx files
*.docx
.vscode
.DS_Store
*.csv